*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 400px;
    height: 400px;
}

#btn{
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    color: yellow;
    background-color: blueviolet;
}
.row {
    flex: 1;
    display: flex;
}
.col{
    flex: 1;
}